* {
  font-family: sans-serif;
}


#intro {
  height: 100%;
  background-image: url("https://wallpapers.com/images/hd/kurzgesagt-0lhr5bf1plkek3pe.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 10%;
}

  #intro div {
    display: inline-block;
  }

  .left {
    float: left;
    text-align: center;
    padding: 32px;
    width: 50%;
  }

  .rigth {
    float: right;
    width: 50%;
    text-align: left;
  }
  
  #intro h1 {
    color: white;
    font-size: 72px;
    font-weight: bold;
    margin: 0;
  }
  
  #main-logo {
    margin-right: 32px;
  }

  #intro a {
    color: white;
  }

  #intro a:visited {
    color: purple;
  }

  #intro a:hover {
    color: white;
  }
  
  #intro button {
    padding: 16px 24px;
    background: none;
    border-radius: 30px;
    border: none;
    color: purple;
    font-weight: bold;
    background-color: white;
  }

  #intro button:hover {
    background-color: purple;
    color: white;
  }
  
  header {
    display: flex;
    color: white;
    background-color: purple;
  }
  
  nav li {
    color: white;
    display: inline-block;
    margin-right: 12px;
  }
  
  a {
    text-decoration: none;
  }
  
  a:visited, a:active {
    color: white;
    text-decoration: none;
  }

  #main-img {
    border-radius: 23px;
  }
