body {
    padding: 5% 12%;
}

ul {
    font-size: larger;
    list-style-type: none;
    text-align: start;
}

li {
    background-color: lightgrey;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
}

h2 {
    margin-top: 24px;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
    align-items: center;
}

.card-item {
    text-align: center;
    width: 200px;
    border-radius: 20px;
}